@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";
@import "../../../node_modules/react-select/less/select.less";

/* @group Colors */

@ThemePrimary: #24adfa;

@BodyBg: #f7f7fa;

@White: #FFF;
@Gray: #555;

/* @end Colors */


/* @group Bootstrap Overrides */

@brand-success: #7dd05b;
@brand-warning: #ad3636;

@navbar-default-bg: lighten(@ThemePrimary, 10%);
@navbar-default-link-color: @White;
@navbar-border-radius: 0;

@navbar-default-link-hover-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-color: @Gray;

@navbar-default-toggle-icon-bar-bg: darken(@ThemePrimary, 10%);
@navbar-default-toggle-border-color: darken(@ThemePrimary, 10%);
@navbar-default-toggle-hover-bg: @ThemePrimary;

@border-radius-base: 0;
@border-radius-large: 0;
@input-border-radius-large: 0;

/* @end Bootstrap Overrides */


/* @group React-Select2 Overrides */

@select-input-bg: darken(@BodyBg, 5%);
@select-input-height: 45px;
@select-input-border-radius: 0;
@select-input-border-width: 0;
@select-item-border-color: none;

@select-item-bg: darken(@BodyBg, 20%);
@select-item-color: @Gray;
@select-item-gutter: 12px;

/* @end React-Select2 Overrides */


/* @group Mixins */

// Border Radius (Same Corners)
.BorderRadius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.TagMixin(@margin, @padding) {
  .tag {
    padding: @padding;
    margin: @margin;
    background-color: @ThemePrimary;
    color: @White;
    display: inline-block;
    white-space: nowrap;

    &:hover {
      background-color: darken(@BodyBg, 20%);
      color: @Gray;
    }
  }
}

/* @end Mixins */


/* @group Misc */

body {
  background-color: @BodyBg;
}

.btn {
  border: 0;
}

.alert {
  border: 0;
}

/* @end Misc */


/* @group Navbar */

.navbar {
  border: 0;
  margin-bottom: 0;

  .avatar {
    .BorderRadius(9px);
    display: inline-block;
    max-width: 18px;
    margin-right: 5px;
  }

  .fa {
    font-size: 18px;
  }
}

.page-title {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  margin-top: 0;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* @end Navbar */


/* @group Homepage */

.homepage {

  .navbar {
    margin-bottom: 20px;
  }

  .latest {

    > .row {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .cover {
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto;
    }

    .details {
      h3 {
        margin: 5px 0;
        position: relative;

        .date {
          font-size: 0.6em;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      .lead {
        font-size: 18px;
        margin: 10px 0;

        &.description {
          font-size: 16px;
        }
      }

      .tags {
        margin: 5px 0;
        .TagMixin(0 3px 3px 0, 2px 5px);
        // .TagMixin(@margin, @padding)
      }
    }

    .links {
      padding: 0 5px;

      .fa {
        margin: 0 5px;
        float: right;
      }
    }
  }
}

/* @end Homepage */


/* @group Submit Form */

.submit-page {

  .submit-form {
    max-width: 560px;
    display: block;
    margin: 10px auto;
  }

  .required {
    color: @brand-warning;
  }

  .login-button {
    display: block;
    margin: 20px auto;
    max-width: 300px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid darken(@BodyBg, 50%);
    background: darken(@BodyBg, 5%);;
    .box-shadow(none);
  }

  .has-error {
    .form-control {
      border-color: @brand-warning;
    }
  }

  .Select {
    margin-bottom: 15px;
    border-bottom: 1px solid darken(@BodyBg, 50%);

    .Select-menu-outer {
      border: 0;
      border-bottom: 1px solid darken(@BodyBg, 50%);
      box-shadow: 0;

      .Select-option {

      	&.is-focused {
      		background-color: darken(@BodyBg, 20%);
      	}
      }
    }

    &.is-focused:not(.is-open) > .Select-control {
    	box-shadow: none;
    }
  }
  .dropzone {
    background-color: darken(@BodyBg, 5%);
    border-bottom: 1px solid darken(@BodyBg, 50%);
    padding: 15px 20px;
    margin-bottom: 15px;
    text-align: center;
    color: @ThemePrimary;
    width: 100%;

    &.active {
      background-color: darken(@BodyBg, 20%);
    }

    h4 {
      padding: 5px 010px 0;
      color: @Gray;
    }

    .btn {
      margin-bottom: 15px;
    }

    .fa {
      font-size: 60px;
      color: @brand-success;
    }

    .filename {
      font-size: 25px;
      color: @Gray;
    }
  }

  .alert {
    margin-top: 20px;
  }

  .btn-lg {
    margin-top: 30px;
  }
}

/* @end Submit Form */


/* @group Featured / Template Tag */

.featured {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  padding: 50px 0 0;
  margin-top: -20px;
  margin-bottom: 20px;

  .section-title {
    margin-top: 10px;
    color: lighten(@ThemePrimary, 10%);
    text-align: right;
    font-style: italic;
  }

  .cover {
    max-height: 250px;
    margin: 20px auto;
  }

  .details {
    padding: 0 20px 10px;

    h1 {
      margin-top: 0;
    }

    .links {
      margin: 20px 10px 20px 5px;

      .fa {
        margin: 0 5px;
        font-size: 0.8em;
        color: @White;
      }
    }

    .lead {
      margin-bottom: 10px;

      &.description {
        font-size: 16px;
      }
    }

    .tags {
      margin: 15px 0;
      .TagMixin(0 5px 10px 0, 5px 8px);
    }
  }
}

/* @end Featured / Template Tag */


/* @group Autogenerator */

.autogenerator {
  background-color: @ThemePrimary;
  color: @White;
  padding: 15px;
  margin: 0 auto 20px;
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(107, 131, 176, 0.98);
    text-align: center;

    h3 {
      line-height: 50px;
      padding: 30px 15px;

      .fa {
        display: block;
        font-size: 35px;
      }
    }
  }

  h3 {
    margin: 0 0 15px 0;
  }

  .form {
    .btn {
      margin-top: 0;
    }
  }
}

/* @end Autogenerator */


/* @group Stats / Template Tag */

.stats {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  padding: 5px 0;
  margin-top: 40px;
  margin-bottom: 0;

  h4 {
    font-weight: 200;

    .count {
      font-style: italic;
    }
  }
}

/* @end Stats / Template Tag */


/* @group Footer */

.footer {
  padding: 15px 0;
  margin-top: 0;
  background-color: @ThemePrimary;
  color: @White;

  div[class^="col-md-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

/* @end Footer */
