@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";
@import "../../../node_modules/react-select/less/select.less";

/* @group Variables */

@CustomWidth: 560px;

@ThemePrimary: #47848f;

@BodyBg: #f7f7fa;

@TwitterColor: #0084b4;

@White: #FFF;
@Gray: #555;

/* @end Variables */


/* @group Bootstrap Overrides */

@link-color: @ThemePrimary;

@brand-success: #7dd05b;
@brand-warning: #ad3636;

@navbar-default-bg: lighten(@ThemePrimary, 10%);
@navbar-default-link-color: @White;
@navbar-border-radius: 0;

@navbar-default-link-hover-bg: @ThemePrimary;
@navbar-default-link-active-bg: @ThemePrimary;
@navbar-default-link-active-color: @Gray;

@navbar-default-toggle-icon-bar-bg: @White;
@navbar-default-toggle-hover-bg: @ThemePrimary;

@border-radius-base: 0;
@border-radius-large: 0;
@input-border-radius-large: 0;

/* @end Bootstrap Overrides */


/* @group React-Select2 Overrides */

@select-input-bg: darken(@BodyBg, 5%);
@select-input-height: 45px;
@select-input-border-radius: 0;
@select-input-border-width: 0;
@select-item-border-color: none;

@select-item-bg: darken(@BodyBg, 20%);
@select-item-color: @Gray;
@select-item-gutter: 12px;

/* @end React-Select2 Overrides */


/* @group Mixins */

// Border Radius (Same Corners)
.BorderRadius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.TagMixin(@margin, @padding) {
  .tag {
    padding: @padding;
    margin: @margin;
    background-color: @ThemePrimary;
    color: @White;
    display: inline-block;
    white-space: nowrap;

    &:hover {
      background-color: darken(@BodyBg, 20%);
      color: @Gray;
      text-decoration: none;
    }
  }
}

.BgGradientVertical(@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

/* @end Mixins */


/* @group Misc */

body {
  background-color: @BodyBg;
}

.btn {
  border: 0;

  &.btn-theme {
    background-color: @ThemePrimary;

    &:hover {
      background-color: darken(@ThemePrimary, 5%);
    }
  }

  &.btn-twitter {
    .BorderRadius(5px);
    background-color: @TwitterColor;
    padding: 6px 10px 1px;
    margin-bottom: 5px;

    &:hover {
      background-color: darken(@TwitterColor, 5%);
    }
  }
}

.alert {
  border: 0;
}

/* @end Misc */


/* @group Navbar */



.navbar-default {
  position: relative;
  z-index: 9998;
}

.navbar {
  border: 0;
  margin-bottom: 0;

  .navbar-brand {
    padding: 5px 15px;

    &:hover {
      background-color: @ThemePrimary;
    }

    > img {
      max-width: 40px;
    }
  }

  .navbar-right {
    margin-right: 0;
  }

  .form-group {

    .form-control {
      background: none;
      border: 0;
      border-bottom: 2px solid darken(@ThemePrimary, 10%);
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;

      &::-webkit-input-placeholder { color: @Gray; }
      &:-moz-placeholder { color: @Gray; opacity: 1; }
      &::-moz-placeholder { color: @Gray; opacity:  1; }
      &:-ms-input-placeholder { color: @Gray; }
    }
  }

  .avatar {
    .BorderRadius(9px);
    display: inline-block;
    max-width: 18px;
    margin-right: 5px;
  }

  .fa {
    font-size: 18px;
  }
}

.navbar-toggle {
  border: 0;
}

.page-title {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  margin-top: 0;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* @end Navbar */


/* @group Homepage */

.homepage {

  .navbar {
    margin-bottom: 20px;
  }

  .typed-text {
    padding: 10px 5px;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;

    .typed-text-content {
      color: @ThemePrimary;
    }

    .cursor {
      opacity: 1;
      -webkit-animation: blink 0.9s infinite;
      -moz-animation: blink 0.9s infinite;
      animation: blink 0.9s infinite;
      padding-left: 5px;
      color: @Gray;

      @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
      @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
      @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
    }
  }

  .love-electron {
    width: 600px;
    margin: 0 auto 20px;
  }

  .latest {

  }
}

/* @end Homepage */


/* @group Entry Row / Tempalte Tag */

.entry {
  margin-top: 25px;
  margin-bottom: 25px;

  .entry-cover {
    background-color: darken(@BodyBg, 5%);
    min-height: 150px;
    margin-bottom: 15px;
    padding: 15px 5px;

    .cover {
      max-height: 120px;
      margin: 0 auto;
    }
  }

  .entry-details {
    h3 {
      margin: 5px 0;
      position: relative;

      .title {
        padding-right: 55px;
        display: inline-block;
      }

      .date {
        font-size: 0.6em;
        position: absolute;
        right: 0;
        bottom: 2px;
      }
    }

    .lead {
      font-size: 18px;
      margin: 10px 0;
      min-height: 50px;

      &.description {
        font-size: 16px;
        min-height: 90px;
      }
    }
  }

  .entry-footer {

    .tags {
      margin: 5px 0;
      padding: 3px 0;

      span {
        font-weight: bold;
      }

      .tag {
        color: @Gray;
        padding: 0 5px;
        border-bottom: 1px solid @ThemePrimary;
        display: inline-block;
        white-space: nowrap;
      }
    }

    .links {
      padding: 0 5px;

      .fa {
        font-size: 16px;
        margin: 0 5px;
      }
    }

    .more {
      font-size: 18px;
      margin: 20px auto 20px;
      padding: 8px 10px;
      text-align: center;

      @media screen and (min-width: @screen-sm-max) {

      }
    }
  }
}

/* @end Entry Row / Tempalte Tag */


/* @group Entry Detail */

.detail-page {

  .cover {
    margin: 10px auto;
    max-height: 250px;
  }

  h1 {
    padding: 10px 0;
    border-bottom: 1px solid @ThemePrimary;

    .links {
      float: right;

      .fa {
        margin: 0 0 10px 0;
      }
    }
  }

  .details {
    text-align: right;
  }

  .tags {
    .TagMixin(0 5px 0 0, 5px);
    margin: 15px 0;

    .tag {
      font-size: 15px;
    }
  }
}

/* @end Entry Detail */


/* @group Profile View */

.profile-page {

  .page-title {
    .count {
      float: right;
    }
  }

  .profile {
    margin: 10px auto 30px;
    max-width: @CustomWidth;
  }

  .profile {

    .avatar {
      .BorderRadius(50%);
      border: 5px solid @ThemePrimary;
      max-width: 200px;
      display: block;
      margin: 10px auto 20px;
    }

    .username,
    .email {
      font-size: 20px;
      text-align: center;
      padding: 5px 10px;
      margin: 10px 0;
      word-wrap: break-word;

      span {
        font-size: 16px;
        color: @ThemePrimary;
      }
    }

    .github {
      max-width: 300px;
      margin: 5px auto;
    }
  }

  .entries {
    margin: 20px auto;
  }

}

/* @end Profile View */


/* @group Submit Form */

.submit-page {

  .submit-form {
    max-width: @CustomWidth;
    display: block;
    margin: 10px auto;

    .required {
      color: @brand-warning;
    }

    .form-control {
      border: 0;
      border-bottom: 1px solid @ThemePrimary;
      background: darken(@BodyBg, 5%);;
      .box-shadow(none);
    }

    .has-error {
      .form-control {
        border-color: @brand-warning;
      }
    }
  }

  .login-button {
    display: block;
    margin: 20px auto;
    max-width: 300px;
  }

  .Select {
    margin-bottom: 15px;
    border-bottom: 1px solid @ThemePrimary;

    .Select-item {
      background-color: @ThemePrimary;
      color: @White;
    }

    .Select-item-icon {
      border-right: 1px solid @White;
    }

    .Select-menu-outer {
      border: 0;
      border-bottom: 1px solid @ThemePrimary;
      box-shadow: 0;

      .Select-option {

      	&.is-focused {
          border-bottom: 1px solid lighten(@ThemePrimary, 10%);
      	}
      }
    }

    &.is-focused:not(.is-open) > .Select-control {
    	box-shadow: none;
    }
  }

  .dropzone {
    background-color: darken(@BodyBg, 5%);
    border-bottom: 1px solid @ThemePrimary;
    padding: 15px 20px;
    margin-bottom: 15px;
    text-align: center;
    color: @ThemePrimary;
    width: 100%;

    &.active {
      background-color: darken(@BodyBg, 20%);
    }

    h4 {
      padding: 5px 010px 0;
      color: @Gray;
    }

    .btn {
      margin-bottom: 15px;
    }

    .fa {
      font-size: 60px;
      color: @brand-success;
    }

    .filename {
      font-size: 25px;
      color: @Gray;
      text-overflow: ellipsis;
      overflow-x: hidden;

    }

    .clear {
      cursor: pointer;
    }
  }

  .alert {
    margin-top: 20px;
  }

  .btn-lg {
    margin-top: 30px;
  }
}

/* @end Submit Form */


/* @group Search Results / Page */

.search-results {
  .alert {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* @end Search Results / Page */


/* @group Featured / Template Tag */

.featured {
  .BgGradientVertical(@ThemePrimary, darken(@ThemePrimary, 8%));

  color: @White;
  padding: 50px 0 0;
  margin-top: -20px;
  margin-bottom: 20px;

  .section-title {
    margin-top: 10px;
    color: lighten(@ThemePrimary, 10%);
    text-align: right;
    font-style: italic;
  }

  .cover {
    max-height: 250px;
    margin: 20px auto;
  }

  .details {
    padding: 0 20px 10px;

    h1 {
      margin-top: 0;
    }

    .links {
      margin: 20px 10px 20px 5px;

      .fa {
        margin: 0 5px;
        font-size: 0.8em;
        color: @White;
      }
    }

    .lead {
      margin-bottom: 10px;

      &.description {
        font-size: 16px;
      }
    }

    .tags {
      margin: 15px 0;
      .TagMixin(0 5px 10px 0, 5px 8px);
    }
  }
}

/* @end Featured / Template Tag */


/* @group Autogenerator */

.autogenerator {
  background-color: @ThemePrimary;
  color: @White;
  padding: 15px;
  margin: 0 auto 20px;
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(107, 131, 176, 0.98);
    text-align: center;

    h3 {
      line-height: 40px;
      padding: 0 15px;

      .fa {
        display: block;
        font-size: 35px;
      }
    }
  }

  h4 {
    margin: 0 0 15px 0;
  }

  .form {
    .form-group {
      .form-control {
        border-bottom: 0;
      }
    }

    .btn {
      margin-top: 0;
    }
  }
}

/* @end Autogenerator */


/* @group Stats / Template Tag */

.stats {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  padding: 5px 0;
  margin-top: 40px;
  margin-bottom: 0;

  h4 {
    font-weight: 200;

    .count {
      font-style: italic;
    }
  }
}

/* @end Stats / Template Tag */


/* @group Footer */

.footer {
  padding: 15px 0;
  margin-top: 0;
  background-color: @ThemePrimary;
  color: @White;

  a {
    color: @White;
  }

  div[class^="col-md-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

/* @end Footer */


/* @group GitHub Badge */

.github-corner{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 9999;


  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @media screen and (min-width: @screen-sm-min) {
    display: inline-block;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

/* @end GitHub Badge */
