@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";

/* @group Colors */

@ThemePrimary: #24adfa;

@BodyBg: #f7f7fa;

@White: #FFF;
@Gray: #555;

/* @end Colors */


/* @group Bootstrap Overrides */

@brand-success: #7dd05b;
@brand-warning: #ad3636;

@navbar-default-bg: lighten(@ThemePrimary, 10%);
@navbar-default-link-color: @White;
@navbar-border-radius: 0;

@navbar-default-link-hover-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-color: @Gray;

@navbar-default-toggle-icon-bar-bg: darken(@ThemePrimary, 10%);
@navbar-default-toggle-border-color: darken(@ThemePrimary, 10%);
@navbar-default-toggle-hover-bg: @ThemePrimary;

@border-radius-base: 0;
@border-radius-large: 0;
@input-border-radius-large: 0;

/* @end Bootstrap Overrides */


/* @group Mixins */

// Border Radius (Same Corners)
.BorderRadius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

/* @end Mixins */


/* @group Misc */

body {
  background-color: @BodyBg;
}

.alert {
  border: 0;
}

/* @end Misc */


/* @group Navbar */

.navbar {
  border: 0;
  margin-bottom: 0;

  .avatar {
    .BorderRadius(9px);
    display: inline-block;
    max-width: 18px;
    margin-right: 5px;
  }

  .fa {
    font-size: 18px;
  }
}

.page-title {
  background-color: darken(@ThemePrimary, 10%);
  color: @White;
  margin-top: 0;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* @end Navbar */


/* @group Homepage */

.homepage {

  .navbar {
    margin-bottom: 20px;
  }
}

/* @end Homepage */


/* @group Submit Form */

.submit-page {

  .required {
    color: @brand-warning;
  }

  .login-button {
    display: block;
    margin: 20px auto;
    max-width: 300px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid darken(@BodyBg, 50%);
    background: darken(@BodyBg, 5%);;
    .box-shadow(none);
  }


  .has-error {

    .form-control {
      border-color: @brand-warning;
    }
  }


  .dropzone {
    background-color: darken(@BodyBg, 5%);
    border-bottom: 1px solid darken(@BodyBg, 50%);
    padding: 15px 20px;
    margin-bottom: 15px;
    text-align: center;
    color: @ThemePrimary;
    width: 100%;

    &.active {
      background-color: darken(@BodyBg, 20%);
    }

    h4 {
      padding: 5px 010px 0;
      color: @Gray;
    }

    .btn {
      margin-bottom: 15px;
    }

    .fa {
      font-size: 60px;
      color: @brand-success;
    }

    .filename {
      font-size: 25px;
      color: @Gray;
    }
  }
}

/* @end Submit Form */


/* @group Footer */

.footer {
  padding: 15px 0;
  margin-top: 40px;
  background-color: @ThemePrimary;
  color: @White;

  div[class^="col-md-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

/* @end Footer */
