{% load staticfiles %}

<div class="col-sm-6 col-md-4 entry">

  <div class="entry-cover">
    {% if entry.cover %}
    <a href="{% url 'directory:detail' entry.slug %}"><img class="img-responsive cover" src="{{ entry.cover.url }}" alt="{{ entry.name }}" title="{{ entry.name }}" /></a>
    {% endif %}
  </div>

  <div class="entry-details">
    <h3>
      <a class="title" href="{% url 'directory:detail' entry.slug %}">{{ entry.name }}</a>
      <span class="date">{{ entry.created | date:"M/d" }}</span>
    </h3>

    <p class="lead">{{ entry.short_description }}</p>
    <p class="lead description">{{ entry.description|truncatechars:"125" }}</p>
  </div>

  <div class="entry-footer">
    <div class="tags">
      {% if entry.tags %}<span># </span>{% endif %}
      {% for tag in entry.tags.all|slice:":2" %}
        <a class="tag" href="{% url 'directory:tag-entries' tag.name %}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% if entry.tags.all.count > 2 %}
      <div class="tag" title="More tags">...</div>
      {% endif %}
    </div>
  </div>

</div>
