{% load staticfiles %}

{% if featured %}
<div class="container-fluid featured">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% if featured.cover %}
        <img src="{{ featured.cover.url }}" alt="{{ featured.name }}" class="img-responsive cover" />
        {% endif %}
      </div>
      <div class="col-md-8 details">

        <h1>
          {{ featured.name }}
          <span class="links">
            <a href="{{ featured.website_url }}" target="_blank"><i class="fa fa-link"></i></a>
            {% if featured.repo_url %}<a href="{{ featured.repo_url }}" target="_blank"><i class="fa fa-github"></i></a>{% endif %}
          </span>
        </h1>

        <p class="lead">{{ featured.short_description }}</p>
        <p class="lead description">{{ featured.description|truncatechars:"250" }}</p>

        {% if featured.tags %}
        <div class="tags">
        {% for tag in featured.tags.all %}
          <a class="tag" href="{% url 'directory:tag-entries' tag.name %}"># {{tag.name}}</a>
        {% endfor %}
        </div>
        {% endif %}

        <a href="{% url 'directory:detail' featured.slug %}" class="btn btn-lg btn-default">Read More</a>

      </div>
    </div>
  </div>
</div>
{% endif %}
