{% extends "base.html" %}
{% block body_class %}submit-page{% endblock %}
{% block title %}Submit - {% endblock %}
{% block pagetitle %}Submit your electron application{% endblock %}

{% block content %}
  <div class="container">
  {% if user.is_authenticated %}
    <div id="submit-form"></div>
  {% else %}
    <h3 class="text-center">Hey! It looks like you have not logged in yet!</h3>
    <a class="btn btn-primary btn-lg btn-theme login-button" href="{{ OAUTH_URL }}"><i class="fa fa-github"></i> Login with GitHub</a>
  {% endif %}
  </div>

{% endblock %}

{% block javascript %}

  {% if user.is_authenticated %}
  <script type="text/javascript">
    $( document ).ready(function() {
      var csrfToken = '{{ csrf_token }}';
      window.setupSubmitForm(csrfToken, '{{ tags|safe }}');
    });
  </script>
  {% endif %}

{% endblock %}
