{% extends "base.html" %}
{% load entry_row %}

{% block body_class %}submit-page{% endblock %}
{% block title %}Tag: {{ tag_name }} - {% endblock %}
{% block pagetitle %}Entries with the #{{ tag_name }} tag{% endblock %}

{% block content %}

  <div class="container">
    {% for entry in object_list %}
      {% entry_row entry %}
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
    <nav>
      <ul class="pager">
        <li class="previous {% if not page_obj.has_previous %}disabled{% endif%}">
          <a href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"><span aria-hidden="true">&larr;</span> Older</a>
        </li>
        <li class="next {% if not page_obj.has_next %}disabled{% endif%}">
          <a href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Newer <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
    {% endif %}

  </div>
{% endblock %}
