{% load staticfiles %}

<nav class="navbar navbar-default">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'directory:home' %}">
        <img class="img-responsive" src="{% static "images/logo-circle-white.png" %}" alt="Built with Electron">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a target="_blank" href="https://www.github.com/manosim/builtwithelectron"><i class="fa fa-github"></i></a></li>
        <li><a target="_blank" href="https://www.twitter.com/bwelectron"><i class="fa fa-twitter"></i></a></li>
      </ul>

      <form class="navbar-form navbar-left" action="{% url 'directory:search-results' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="id_keywords" maxlength="100" name="keywords" placeholder="Search...">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_admin %}<li><a target="_blank" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
        <li><a href="{% url 'directory:submit' %}">Submit</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:profile' %}"><img src="{{ user.avatar_url }}" class="avatar" /> {{ user.username }}</a></li>
        <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <span class="hidden-sm hidden-md hidden-lg">Logout</span></a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{{ OAUTH_URL }}"><i class="fa fa-github"></i> Login with GitHub</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
