<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'directory:home' %}">Built with Electron</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if user.is_admin %}<li><a target="_blank" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
        <li><a href="{% url 'directory:submit' %}">Submit</a></li>
      </ul>

      <form class="navbar-form navbar-left" action="{% url 'directory:search-results' %}" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" />
      </form>

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form> -->

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:profile' %}"><img src="{{ user.avatar_url }}" class="avatar" /> {{ user.username }}</a></li>
        <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <span class="hidden-sm hidden-md hidden-lg">Logout</span></a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{{ OAUTH_URL }}"><i class="fa fa-github"></i> Login with GitHub</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
