{% extends "base-emails.html" %}

{% block title %}
Your submition got approved!
{% endblock %}

{% block content %}
Hey {{ username }}, Your submission {{ entry_name }} got approved and now shows up at Built with Electron! Click the button below to view your submission.
{% endblock %}

{% block button %}
<a href="<a href="{{ site_url }}{% url 'directory:detail' entry_slug %}">" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">View {{ entry_name }} &rarr;</a>
{% endblock %}
